@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Fira+Sans+Condensed&family=Source+Code+Pro:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Crimson+Text&family=Fira+Sans+Condensed&family=Kalam:wght@700&family=Source+Code+Pro:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Fira+Sans+Condensed&family=Kalam:wght@700&family=Source+Code+Pro:ital,wght@1,300&display=swap') * {
    margin: 0%;
    padding: 0%;
}


.sidebar {
    position: absolute;
    background-color: rgb(211, 204, 204);
    /* width: 434px; */
    font-family: 'Fira Sans Condensed', sans-serif;
    height: 150vh;
     /* transform: translate(-443px, 0px); */
    /* position: absolue; */
    transition: transform 0.3s ease-in;
} 

.mein {
    /* background-color: blue; */
    width: 90vw;

}

.continor {
    display: flex;
}

.sidebar nav {
    padding: 45px;

}

.sidebar nav li {
    list-style: none;
    font-size: 30px;
    padding: 33px 0;

}

.devinfo {
    /* background-color: brown; */
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
    /* justify-content: right; */
}

.pic img {
    height: 58vh;
    /* height: 570px; */

}



.infor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello {
    font-size: 65px;
}

.name {

    font-size: 50px;
    font-weight: bold;
    font-family: 'Fira Sans Condensed', sans-serif;


}

.about {
    font-size: 40px;
}

.button {
    margin-top: 34px;

}

.button button:hover {
    color: rgb(99, 17, 17);
    background-color: rgb(242, 252, 237);
}

.button button {
    padding: 9px 14px;
    border-radius: 22px;
    color: rgb(124, 15, 15);
    background-color: ye;

    margin: 0 3px;
    font-size: 21p;
    font-weight: bold;
    cursor: pointer;
}

.moreabout {
    font-size: 22px;
    margin-top: 23px;
    font-family: 'Fira Sans Condensed', sans-serif;

}

.sidebar nav li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.801);
}

.mein h1 {
    font-family: 'Source Code Pro', monospace;
    margin: 0px;
    padding: 0px;
    font-family: 'arial';
    font-size: 5em;
    text-align: center;

}

.mein h1:hover {
    color: yellow;


}


.contactform {
    width: 500px;
    /* background-color: orange; */
    /* box-shadow: 0 0 20px 0 rgb(8, 8, 8); */
    top: 50;
    left: 50;
    transform: translate(-50%, -50%);
    position: absolute;
    margin-top: 300px;
    margin-left: 300px;
    width: 23px;


}

.form {

    margin: 35px;


}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid crimson;
    border-radius: 14px;
    outline: none;
}

.textinput-field {
    height: 150px;
    border-radius: 14px;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    outline: none;

}

.btn {
    border-radius: 30px;
    margin-top: 18px;
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: rgb(212, 214, 209);
    border: none;
    cursor: pointer;
    width: 100px;
}

.btn :hover{
    background-color: black;
    color: yellow;

}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
    margin-top: 10px;
}
.cross{
    margin-left: 185px;
    margin-top: 10px;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}